/**
 * Less sample file.
 *
 * You can keep a bound between css class and plugin name/namespace.
 * To do this, you have to use the right naming for the css id and class.
 *
 */
.wp-kirk code,
.wp-kirk pre {
  background-color: #32373C;
  color: #f9cf6a;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}
.wp-kirk pre {
  padding: 16px;
  white-space: pre-wrap;
  overflow-x: scroll;
}
.wp-kirk code {
  background-color: #fff;
  border: 1px solid rgba(255, 118, 88, 0.54);
  color: #666;
}
.clearfix {
  *zoom: 1 !important;
}
.clearfix:before,
.clearfix:after {
  display: table !important;
  line-height: 0 !important;
  content: "" !important;
}
.clearfix:after {
  clear: both !important;
}
.wp-kirk-align {
  display: block;
  clear: both;
}
.wp-kirk-align-left {
  text-align: left;
}
.wp-kirk-toc {
  float: left;
  position: fixed;
  background-color: #fff;
  padding: 8px;
  border: 1px solid #ddd;
  width: 180px;
}
.wp-kirk-toc-content {
  float: right;
  width: calc(100% - 220px);
}
@media (max-width: 1000px) {
  .wp-kirk-toc {
    float: none;
    position: relative;
    width: auto;
  }
  .wp-kirk-toc li {
    margin-right: 12px;
    float: left;
  }
  .wp-kirk-toc-content {
    float: none;
    width: auto;
  }
}
