/**
 * Less sample file.
 *
 * You can keep a bound between css class and plugin name/namespace.
 * To do this, you have to use the right naming for the css id and class.
 *
 */
.wp-kirk .hljs-variable {
  color: #e5c07a;
}
.wp-kirk .hljs-keyword {
  color: #c678dd;
}
.wp-kirk .hljs-builtin-name {
  color: #56b6c2;
}
.wp-kirk .hljs-params {
  color: #d19b66;
}
.wp-kirk .hljs-tag {
  color: #87dbfd;
}
.wp-kirk .hljs-built_in {
  color: #56b6c2;
}
.wp-kirk .hljs-title {
  color: #e5c07a;
}
.wp-kirk code {
  background-color: #fff;
  border: 1px solid rgba(255, 118, 88, 0.54);
  color: #666;
  border-radius: 4px;
}
.wp-kirk code.hljs {
  background-color: #282c34;
  color: #abb2bf;
  display: block;
  border-radius: 8px;
  border: none;
  padding: 16px;
  white-space: pre-wrap;
  overflow-x: scroll;
}
.wp-kirk pre {
  white-space: pre-wrap;
  overflow-x: scroll;
}
.wp-kirk .hljs-literal {
  color: #56b6c2;
}
.wp-kirk .hljs-addition {
  color: #98c379;
}
.wp-kirk .hljs-symbol {
  color: #98c379;
}
.wp-kirk .hljs-comment {
  color: #5c6370;
}
.wp-kirk .hljs-deletion {
  color: #e5c07a;
}
.wp-kirk .hljs-class {
  color: #e5c07a;
}
.wp-kirk .hljs-meta {
  color: #56b6c2;
}
.wp-kirk .hljs-bullet {
  color: #98c379;
}
.wp-kirk .hljs-selector-tag {
  color: #c678dd;
}
.wp-kirk .hljs-link {
  color: #e5c07a;
}
.wp-kirk .hljs-selector-id {
  color: #e5c07a;
}
.wp-kirk .hljs-function {
  color: #e5c07a;
}
.wp-kirk .hljs-string {
  color: #98c379;
}
.wp-kirk .hljs-emphasis {
  font-style: italic;
}
.wp-kirk .hljs-number {
  color: #d19b66;
}
.wp-kirk .hljs-quote {
  color: #5c6370;
}
.wp-kirk .hljs-section {
  color: #e5c07a;
}
.wp-kirk .hljs-type {
  color: #d19b66;
}
.wp-kirk .hljs-name {
  color: #ee7077;
}
.wp-kirk .hljs-attribute {
  color: #e5c07a;
}
.wp-kirk .hljs-attr {
  color: #c792ea;
}
.wp-kirk .hljs-strong {
  font-weight: bold;
}
.wp-kirk .hljs-selector-class {
  color: #e5c07a;
}
.wp-kirk .hljs-template-variable {
  color: #e5c07a;
}
.wp-kirk .hljs-regexp {
  color: #e5c07a;
}
.wp-kirk.wp-kirk-sample p {
  font-size: 16px;
}
.clearfix {
  *zoom: 1 !important;
}
.clearfix:before,
.clearfix:after {
  display: table !important;
  line-height: 0 !important;
  content: "" !important;
}
.clearfix:after {
  clear: both !important;
}
.wp-kirk-align {
  display: block;
  clear: both;
}
.wp-kirk-align-left {
  text-align: left;
}
.wp-kirk-toc {
  float: left;
  position: fixed;
  background-color: #fff;
  padding: 8px;
  border: 1px solid #ddd;
  width: 180px;
}
.wp-kirk-toc-content {
  float: right;
  width: calc(100% - 220px);
}
@media (max-width: 1000px) {
  .wp-kirk-toc {
    float: none;
    position: relative;
    width: auto;
  }
  .wp-kirk-toc li {
    margin-right: 12px;
    float: left;
  }
  .wp-kirk-toc-content {
    float: none;
    width: auto;
  }
}
